<div class="filters-strip">
    <div class="filters" role="tablist" aria-label="Listing categories">
        <button class="filter active" type="button" aria-label="Rooms">
            <i class="fa fa-bed" aria-hidden="true"></i>
            <span>Rooms</span>
        </button>

        <button class="filter" type="button" aria-label="Beach">
            <i class="fa fa-umbrella" aria-hidden="true"></i>
            <span>Beach</span>
        </button>

        <button class="filter" type="button" aria-label="Boats">
            <i class="fa fa-ship" aria-hidden="true"></i>
            <span>Boats</span>
        </button>

        <button class="filter" type="button" aria-label="Cabins">
            <i class="fa fa-tree" aria-hidden="true"></i>
            <span>Cabins</span>
        </button>

        <button class="filter" type="button" aria-label="City">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <span>City</span>
        </button>

        <button class="filter" type="button" aria-label="Castles">
            <i class="fa fa-university" aria-hidden="true"></i>
            <span>Castles</span>
        </button>

        <button class="filter" type="button" aria-label="Arctic">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            <span>Arctic</span>
        </button>

        <button class="filter" type="button" aria-label="Trending">
            <i class="fa fa-fire" aria-hidden="true"></i>
            <span>Trending</span>
        </button>

        <button class="filter" type="button" aria-label="Camping">
            <i class="fa fa-compass" aria-hidden="true"></i>
            <span>Camping</span>
        </button>

        <button class="filter" type="button" aria-label="Views">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <span>Views</span>
        </button>
    </div>
</div>
