<% const successMessages = (typeof success !== "undefined" && success) ? success : []; %>
<% const errorMessages = (typeof error !== "undefined" && error) ? error : []; %>
<% if(successMessages.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show h-10" role="alert">
        <%= successMessages %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if(errorMessages.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show " role="alert">
        <%= errorMessages %>        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
